* {
  background-color: azure;
  font-family: 'Fontdiner Swanky', cursive;
}

h1 {
  font-size: 800%;
  text-align: center;
  font-family: 'Londrina Outline', cursive;
}

h3{
  text-align: center;
  
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

input[type=text]:focus {
  background-color: lightblue;

}


.card{
  margin-top: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
